*.egg-info
__pycache__
.DS_Store
Session.vim
/.cache
/audio_files
/build
/demucs_env
/dist
/*.app
/Demucs Splitter.spec
/lab
/metadata
/notebooks
/outputs
/release
/release_models
/separated
/tests
/trash
/misc
/mdx
.mypy_cache
/ИНСТРУКЦИЯ_ПО_РАЗДЕЛЕНИЮ.md
/ШПАРГАЛКА.md
